@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{

    :root {
        --clr-blue: #4FC4BF;
        --clr-yellow: #F1AC12;
        --crl-black: #3D3B40;
        --crl-white: #ffff;
    }
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}



ul li a {
    font-weight: bold; /* Aplica negrita a los enlaces dentro de elementos <li> */
}

header {
    width: 100%;
    height: 80px;
    margin-top: 0 !important; /* Agregamos !important para dar prioridad */
    position: fixed;
    z-index: 1;
}


.container__menu{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 150%;
    display: flex;
    align-items: center;
}

.logo img{
    width: 150px;

}

.menu{
    display: flex;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li{
    list-style: none;
    margin-left: 40px;
}


.menu ul li a{
    text-decoration: none;
    font-size: 16px;
    color: black;
    text-transform: uppercase;
}

#selected{
    background: #4FC4BF;
    padding: 10px 40px;
    border-radius: 50px;
}

.menu nav img{
    display: none;
}

.menu #btn_menu{
    display: none;
}


.container__cover {
    width: 100%;
    height: 100vh; /* Esto hace que la altura sea igual al 100% del viewport height */
    background-image: url(../images/background.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* Esto ajusta la imagen para cubrir todo el contenedor */
}

.cover{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__cover .text{
    max-width: 400px;
}

.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
    color: #000000;
}

.container__cover .text p{
    font-size: 18px;
    margin-top: 40px;
    color: #000000;
}
/*Boton leer mas*/
.container__cover .text input{
    padding: 18px 80px;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    margin-top: 40px;
    background: linear-gradient(to right, #4FC4BF, #F1AC12);
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 30px -12px #5e5e5e;
    transition: all 300ms;
}

.container__cover .text input:hover{
    box-shadow: 1px 1px 30px -6px #F1AC12;
}


.container__cover .svg img{
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0%{
        transform: translateY(15px);
    }50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}


/*Haciendo la página Responsive*/

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: black;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #F1AC12;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #000000;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: #F1AC12;
    }
}




/* Estilos para el icono de Inicio */
.bi.bi-house-door-fill {
    /* Agrega tus estilos personalizados aquí */
    color: #ffffff; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
}

/* Estilos para el icono de Nosotros */
.bi.bi-people-fill {
    /* Agrega tus estilos personalizados aquí */
    color: #F1AC12; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
}

/* Estilos para el icono de Tienda */
.bi.bi-shop {
    /* Agrega tus estilos personalizados aquí */
    color: #F1AC12; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
}
.bi.bi-envelope-fill {
    /* Agrega tus estilos personalizados aquí */
    color: #F1AC12; /* Cambia el color del icono */
    font-size: 24px; /* Cambia el tamaño del icono */
}


.menu ul li a:hover {
    color: #F1AC12; /* Cambia el color del texto al pasar el cursor */
}








